@charset "UTF-8";

// イメージ: 青と白の世界
$baseColor: #FDFDFB;
$mainColor: #67A5DA;
$accentColor: #FBE4E2;

$fontColor: #707070;
$diactiveColor: #909090;
$lineColor: #e0e0e0;


html {
    font-size: 62.5%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    color: $fontColor;
}

body {
    font-size: 1.6rem;
    line-height: 1.7;
    background-color: #DDD; //一旦
    word-break: break-all;
    margin: 0;
    // overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

// header, main, footer {
//     margin-bottom: 2vw;
// }
header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #FFF;
}
main, footer {
    margin-bottom: 2vw;
}
main {
    margin-top: 10vw;
}

.container {
    padding: 0 2vw;
}

a {
    text-decoration: none;
    color: $diactiveColor;
    margin: 0 10px;

    // &:hover {
    //     color: $fontColor;
    // }
}

ul {
    list-style-type: none;
}

::placeholder {
    color: $diactiveColor;
    font-weight: 300;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2vw 0 4vw;

    .header-logo {
        font-size: 4rem;
        font-family: marydale, sans-serif;
        font-weight: 900;
    }

    .nav-menu {
        display: flex;
        flex-wrap: wrap;

        li {
            display: flex;
            align-items: center;
            margin-right: 2vw;

            a {
                font-size: 2rem;
                font-weight: 500;

                position: relative;
                &::after {
                    content: '';
                    /*絶対配置で線の位置を決める*/
                    position: absolute;
                    bottom: -40%;
                    left: 10%;
                    /*線の形状*/
                    width: 80%;
                    height: 2px;
                    background:#0481A2;
                    /*アニメーションの指定*/
                    transition: all .2s;
                    transform: scale(0, 1);/*X方向0、Y方向1*/
                    transform-origin: center top;/*上部中央基点*/
                }
                &:hover {
                    color:#0481A2;
                    &::after {
                        transform: scale(1, 1);/*X方向にスケール拡大*/
                    }
                }
            }
        }
        .current {
            color:#0481A2;
            a {
                color: $fontColor;
                &::after{
                    transform: scale(1, 1);/*X方向にスケール拡大*/
                }
            }
        }
    }
}

.head-nav {
    text-align: center;
    margin-bottom: 2vw;

    h1 {
        font-size: 3.2rem;
        font-weight: 600;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;

        ul li {
            display: inline-block;

            &:first-of-type {
                margin-right: 2vw;
            }
        }
    }
}

.footer-text {
    font-size: 2.2rem;
}


//////////////////// index.html
// %submit-event {
//     ~ i.fas.fa-angle-down {
//         display: none;
//     }
//     ~ i.fas.fa-angle-double-down {
//         color: #c8c8c8;
//         display: inline;
//     }
// }

// carrypandaのpost.htmlのレイアウト参考に後ほど...
.diary-form {
    width: 72%;
    margin: 0 auto;

    .section {
        &.diactivate {
            display: none;
        }
    }

    form .section {
        &.activate {
            display: block;
        }

        div {
            margin-bottom: 2vw;

            label {
                display: inline-block;
                font-size: 2.4rem;
                margin-bottom: 0.5vw;
            }

            input[type="text"],
            textarea {
                // display: block;
                width: 100%;
                background: rgba(255, 255, 255, .8);
                border: 1px #fff solid;
                border-radius: 8px;
                color: $fontColor;
                font-size: 1.8rem;
                padding: 5px 10px;
            }

            .image-btn {
                display: block;
                width: 15%;
                min-width: 100px;
                background: #88acea; //後ほど変更
                color: #FFF;
                font-size: 2rem;
                // line-height: 1.7; /* 行間 */
                border-radius: 6px;
                cursor: pointer; /* カーソルを指に */
                text-align: center;
                margin: 0;
                padding: 8px; /* 文字まわりの余白 */

                input {
                    display: none;
                }
            }
        }

        .translate-box {
            position: relative;

            textarea {
                background: rgba(255, 255, 255, .4);
            }

            .translate-btn {
                display: block;

                position: absolute;
                left: 3%;
                bottom: 12%;

                width: 15%;
                min-width: 100px;
                background: #88acea; //後ほど変更
                color: #FFF;
                font-size: 2rem;
                // line-height: 1.7;
                border-radius: 6px;
                margin: 0;
                padding: 6px;
            }
        }

        .compare-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            textarea {
                width: 49%;

                &:first-of-type {
                    background: rgba(255, 255, 255, .4);
                }
            }
        }

        .next-btn {
            text-align: center;

            label {
                // .submit {
                //     &:hover {
                //         @extend %submit-event;
                //     }
                //     &:active {
                //         @extend %submit-event;
                //     }
                //     &:visited {
                //         @extend %submit-event;
                //     }
                // }
                i.fas.fa-angle-down {
                    color: $diactiveColor;
                    display: inline;
                }
                // i.fas.fa-angle-double-down {
                //     display: none;
                // }
            }
        }

        .arrow {
            text-align: center;
        }

        #preview {
            width: 33%;
            // max-width: 600px;
            // border: solid 1px silver;
        }

        .keep-btn {
            display: block;
            width: 25%;
            min-width: 200px;
            background: #668ad8; //後ほど変更
            color: #FFF;
            font-size: 2.2rem;
            font-weight: 600;
            // line-height: 1.7;
            border: dashed 2px #FFF;
            border-radius: 6px;
            box-shadow: 0px 0px 0px 2px #668ad8;
            margin: 0 auto;
            padding: 6px;
        }
    }
}

footer {
    text-align: center;
}
//////////////////// /index.html


//////////////////// my_diary.html
.items{
    display: flex;
    flex-wrap: wrap;

    // 以下、gridレイアウトの場合
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // grid-gap: 2%;

    .item{
        width: 32%;
        // height: ;
        margin: 0 2% 1% 0;
        // background: ;

        &.multiple-of-3 {
            margin-right: 0;
        }

        .card {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px #ccc;

            .card-image {
                border-radius: 10px 10px 0 0;
                max-width: 100%;
                height: auto;

                .resize-image {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                }
            }

            .card-content {
                padding: 8px 20px 20px;
                border-top: 1px solid $lineColor;
                border-bottom: 1px solid $lineColor;

                p {
                    margin-bottom: 0;
                }

                .card-title {
                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;
                }
                .card-date {
                    text-align: center;

                    small {
                        font-weight: 300;
                    }
                }
                .card-text {
                    line-height: 1.5;
                    // margin-bottom: 0.2em;
                }

                .function-box {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 10px;


                    ul {
                        margin: 0 -15px;

                        li {
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }

                    div form {
                        label {
                            .checkbox {
                                display: none;

                                &:checked {
                                    ~ i.far.fa-square {
                                        display: none;
                                    }
                                    ~ i.far.fa-check-square {
                                        color: #7AA3CC;
                                        display: inline;
                                    }
                                }
                            }
                            i.far.fa-square {
                                color: #c8c8c8;
                                display: inline;
                            }
                            i.far.fa-check-square {
                                display: none;
                            }
                            &:hover i.far {
                                color: #7AA3CC;
                            }
                        }

                        // input[type="submit"] {
                        //     display: none;
                        // }
                    }
                }
            }

            section {
                padding: 4% 6%;

                .accordion-btn {
                    cursor: pointer;
                    text-align: center;
                }
                .accordion-box {
                    display: none;
                    margin-top: 4%;
                }
            }

            &:hover {
                transform: translateY(-1px);
                box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
                transition: all .3s;
            }
        }
    }

    .hide-area{
        display: none;
    }
}
//////////////////// /my_diary.html
//////////////////// Modaal Window
.modaal-container {
    width: 40vw;
    height: 48vw;
    border-radius: 10px;

    .modaal-content.modaal-focus .modaal-content-container {
        text-align: center;

        h2 {
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 2vw;
        }
        p:first-of-type {
            height: 10vw;
            overflow: scroll;
            font-size: 1.8rem;
            text-align: left;
            margin-bottom: 2vw;
        }
        hr {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #fff;
            margin-bottom: 2vw;
        }
        .result-box {
            height: 14vw;
            overflow: scroll;
            margin-bottom: 2vw;

            p {
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 0.5vw;
            }
            .standby {
                height: 2vw;
                font-style: italic;
                color: $diactiveColor;
                margin-bottom: 2vw;
            }
        }

        .recording-box {
            // button {
            //     width: 39px;
            //     height: 39px;
            //     border: 1px solid #000;
            //     border-radius: 50%;
            //     padding: 2px;
            // }
            p {
                text-align: center;
            }
        }
    }

    .modaal-close {
        &:after,
        &:before {
            background:#ccc;
        }
        &:focus:after,
        &:focus:before,
        &:hover:after,
        &:hover:before{
            background:#666;
        }
    }
}
//////////////////// /Modaal Window