<!DOCTYPE html>
{% load static %}
{% load sass_tags %}

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>custoMade</title>
        <meta name="description" content="(現在準備中)" />
        <link rel="icon" href="" sizes="16x16" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="" />
        <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
        <link rel="stylesheet" href="https://use.typekit.net/kqm8xlk.css">
        <link rel="stylesheet" href="https://use.typekit.net/kqm8xlk.css">
        {% comment %} <link rel="stylesheet" href="{% static 'diary/styles.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% sass_src 'diary/styles.scss' %}">
        {% block extraheader %}{% endblock %}
    </head>

    <body>
        {% comment %} navでbootstrapを使うかどうかは検討中 {% endcomment %}
        <nav>
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}">logout</a></li>
            {% comment %} ログインしてない状態は想定していない {% endcomment %}
            {% endif %}
        </nav>

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
