<!DOCTYPE html>
{% load static %}
{% load sass_tags %}

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>custoMade</title>
        <meta name="description" content="(現在準備中)" />
        <link rel="icon" href="" sizes="16x16" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="" />
        <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
        <link rel="stylesheet" href="https://use.typekit.net/kqm8xlk.css">
        <link rel="stylesheet" href="https://use.typekit.net/kqm8xlk.css">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        {% comment %} <link rel="stylesheet" href="{% static 'diary/styles.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% sass_src 'diary/sass/styles.scss' %}">
        {% block extraheader %}{% endblock %}
    </head>

    <body>
        {% comment %} navでbootstrapを使うかどうかは検討中 {% endcomment %}
        <header>
            <div class="container">
                <nav>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}">logout</a></li>
                    {% comment %} ログインしてない状態は想定していない {% endcomment %}
                    {% endif %}
                </nav>
            </div>
        </header>

        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>

        {% comment %} <footer><div class="container"></div></footer> {% endcomment %}


        {% comment %} <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script> {% endcomment %}
        <script src="{% static 'diary/js/app.js' %}"></script>
    </body>
</html>
