{% extends "diary/layout.html" %}

{% block extraheader %}
<link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css"
>
{% endblock %}

{% block main %}
<div class="head-nav">
    <h1>Check pronunciation!</h1>

    <div>
        <p>Diary: {{ count.diaries }} &nbsp;&nbsp;&nbsp;Completed: {{ count.completed_diaries }}</p>
        <ul>
            <li>
                <a href="{% url 'diary:sort' %}">
                    {% if sort_state == 0 %}
                    <i class="fas fa-sort-amount-up fa-2x"></i>
                    {% comment %} <i class="fas fa-sort-numeric-up-alt fa-2x"></i> {% endcomment %}
                    {% else %}
                    <i class="fas fa-sort-amount-down-alt fa-2x"></i>
                    {% comment %} <i class="fas fa-sort-numeric-down fa-2x"></i> {% endcomment %}
                    {% endif %}
                </a>
            </li>
            <li>
                <i class="fas fa-filter fa-2x"></i>
            </li>
        </ul>
    </div>
</div>

<div class="items">
    {% if diaries %}
    {% comment %} 以下for文で回す {% endcomment %}
    {% for diary in diaries %}
        {% if forloop.counter|divisibleby:"3" %}
        <div class="item multiple-of-3">
        {% else %}
        <div class="item">
        {% endif %}
            <div class="card">
                {% if diary.image %}
                <div class="card-image">
                    <img src="{{ diary.image.url }}" alt="日記の写真" class="resize-image">
                </div>
                {% else %}
                <div class="card-image">
                    <img src="../../static/diary/img/default.png" alt="日記の写真" class="resize-image">
                </div>
                {% endif %}

                <div class="card-content">
                    <p class="card-title">{{ diary.title }}</p>
                    <p class="card-date"><small>{{ diary.date }}</small></p>
                    <p id="card-text{{ forloop.counter }}" class="card-text">{{ diary.english_text }}</p>

                    <div class="function-box">
                        <ul>
                            <li>
                                {% comment %} こっからモーダルウィンドーに飛ばしたい、{% url 'pronunciation' diary.id %} みたいな感じか {% endcomment %}
                                <a href="#speechToText{{ forloop.counter }}" class="speechToText">
                                    <i class="fas fa-microphone fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <button onclick="textToSpeech({{ forloop.counter }});">
                                    {% comment %} 後ほど、押すたびにアイコンを切り替える処理を加える {% endcomment %}
                                    <i class="fas fa-volume-up fa-2x"></i>
                                    {% comment %} <i class="far fa-stop-circle"></i> {% endcomment %}
                                </button>
                            </li>
                        </ul>

                        <div>
                            <form action="{% url 'diary:update_check_status' diary.id %}" method="post">
                            {% csrf_token %}
                                <label>
                                    <input type="checkbox"
                                        name="is_completed"
                                        value="{{ diary.is_completed }}"
                                        class="checkbox"
                                        {{ diary.is_completed }}
                                        onClick="this.form.submit();"
                                    >
                                    <i class="far fa-square fa-2x"></i>
                                    <i class="far fa-check-square fa-2x"></i>
                                </label>
                                <input type="submit" value="">
                            </form>
                        </div>
                    </div>
                </div>

                <section>
                    <div class="accordion-btn">
                        {% comment %} 最初のみここから画面に表示 {% endcomment %}
                        <i class="fas fa-plus fa-2x"></i>
                    </div>
                    <div class="accordion-box">
                        <p>{{ diary.japanese_translation }}</p>
                    </div>
                </section>
            </div>
        </div>

        <section id="speechToText{{ forloop.counter }}" class="hide-area">
            <h2>Pronunciation practice :)</h2>
            <p>{{ diary.english_text }}</p>
            <hr>
            <div class="result-box" id="result-div{{ forloop.counter }}">
                {% comment %} 最初のみここから画面に表示 {% endcomment %}
                <p class="standby">Speak into the microphone. (English)</p>
            </div>
            {% comment %} 音の波を表現したいが、後回したいが後回し {% endcomment %}
            <div class="recording-box">
                <button id="recording-btn{{ forloop.counter }}" onclick="speechToText({{ forloop.counter }});">
                    {% comment %} 最初のみここから画面に表示 {% endcomment %}
                    <i class="fas fa-microphone fa-2x"></i>
                </button>
                <p><small>Recording start/stop</small></p>
            </div>
        </section>
    {% endfor %}
    {% else %}
        <p>No diary entries have been posted yet :(</p>
    {% endif %}
</div> {% comment %} items {% endcomment %}
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
{% endblock %}