{% extends "diary/layout.html" %}

{% block extraheader %}
<link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css"
>
{% endblock %}

{% block main %}
<div class="head-nav">
    <h1>Check pronunciation!</h1>

    <div>
        <p>Diary: {{ count.diaries }} &nbsp;&nbsp;&nbsp;Completed: {{ count.completed_diaries }}</p>
        <ul>
            {% if random_state == 0 %}
            <li>
                <a href="{% url 'diary:sort' %}">
                    {% if sort_state == 0 %}
                    <i class="fas fa-sort-amount-up fa-2x diactive"></i>
                    {% comment %} <i class="fas fa-sort-numeric-up-alt fa-2x"></i> {% endcomment %}
                    {% else %}
                    <i class="fas fa-sort-amount-down-alt fa-2x diactive"></i>
                    {% comment %} <i class="fas fa-sort-numeric-down fa-2x"></i> {% endcomment %}
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'diary:filter' %}">
                    {% if filter_state == 0 %}
                    <i class="fas fa-filter fa-2x diactive"></i>
                    {% else %}
                    <i class="fas fa-filter fa-2x active"></i>
                    {% endif %}
                </a>
            </li>
            <li class="random-btn">
                <a href="{% url 'diary:random' %}">
                    <i class="fas fa-random fa-2x diactive"></i>
                </a>
            </li>
            {% else %}
            <li class="random-btn">
                <a href="{% url 'diary:random' %}">
                    <i class="fas fa-random fa-2x active"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="items">
    {% if diaries %}
    {% comment %} 以下for文で回す {% endcomment %}
    {% for diary in diaries %}
        {% if forloop.counter|divisibleby:"3" %}
        <div class="item multiple-of-3">
        {% else %}
        <div class="item">
        {% endif %}
            <div class="card">
                {% if diary.image %}
                <div class="card-image">
                    <img src="{{ diary.image.url }}" alt="日記の写真" class="resize-image">
                </div>
                {% else %}
                <div class="card-image">
                    <img src="../../static/diary/img/default.png" alt="日記の写真" class="resize-image">
                </div>
                {% endif %}

                <div class="card-content">
                    <p class="card-title">{{ diary.title }}</p>
                    <p class="card-date"><small>{{ diary.date }}</small></p>
                    <div class="card-text-box">
                        <p id="card-text{{ forloop.counter }}" class="card-text">{{ diary.english_text }}</p>
                    </div>

                    <div class="function-box">
                        <ul class="left-function">
                            <li>
                                {% comment %} こっからモーダルウィンドーに飛ばしたい、{% url 'pronunciation' diary.id %} みたいな感じか {% endcomment %}
                                <a href="#speechToText{{ forloop.counter }}" class="speechToText">
                                    <i class="fas fa-microphone fa-2x diactive"></i>
                                </a>
                            </li>
                            <li>
                                <button onclick="textToSpeech({{ forloop.counter }});">
                                    {% comment %} 後ほど、押すたびにアイコンを切り替える処理を加える {% endcomment %}
                                    <i class="fas fa-volume-up fa-2x active"></i>
                                    {% comment %} <i class="far fa-stop-circle"></i> {% endcomment %}
                                </button>
                            </li>
                        </ul>

                        <ul class="right-function">
                            <li>
                                <form action="{% url 'diary:update_check_status' diary.id %}" method="post">
                                {% csrf_token %}
                                    <label>
                                        <input type="checkbox"
                                            name="is_completed"
                                            value="{{ diary.is_completed }}"
                                            class="checkbox"
                                            {{ diary.is_completed }}
                                            onClick="this.form.submit();"
                                        >
                                        <i class="far fa-square fa-2x"></i>
                                        <i class="far fa-check-square fa-2x"></i>
                                    </label>
                                    <input type="submit" value="">
                                </form>
                            </li>
                            <li>
                                <a href="#diary-edit{{ forloop.counter }}" class="diary-edit">edit</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <section>
                    <div class="accordion-btn">
                        {% comment %} 最初のみここから画面に表示 {% endcomment %}
                        <i class="fas fa-plus fa-2x active"></i>
                    </div>
                    <div class="accordion-box">
                        <p>{{ diary.japanese_translation }}</p>
                    </div>
                </section>
            </div>
        </div>

        <section id="speechToText{{ forloop.counter }}" class="hide-area">
            <div class="speechToText-modaal">
                <h2 class="modaal-title">Pronunciation practice :)</h2>
                <p class="english-text">{{ diary.english_text }}</p>
                <hr>
                <div class="result-box" id="result-div{{ forloop.counter }}">
                    {% comment %} 最初のみここから画面に表示 {% endcomment %}
                    <p class="standby">Speak into the microphone. (English)</p>
                </div>
                {% comment %} 音の波を表現したいが、後回したいが後回し {% endcomment %}
                <div class="recording-box">
                    <button id="recording-btn{{ forloop.counter }}" class="recording-btn" onclick="speechToText({{ forloop.counter }});">
                        {% comment %} 最初のみここから画面に表示 {% endcomment %}
                        <i class="fas fa-microphone fa-2x active"></i>
                    </button>
                    <p class="btn-notes"><small>Recording start/stop</small></p>
                </div>
            </div>
        </section>

        <section id="diary-edit{{ forloop.counter }}" class="hide-area">
            <div class="diary-edit-modaal">
                <h2 class="modaal-title">Edit or Delete...</h2>
                {% comment %} <p class="english-text">{{ diary.english_text }}</p> {% endcomment %}

                <form action="{% url 'diary:diary_edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div>
                        <label for="title{{ forloop.counter }}">title</label>
                        <input type="text" id="title{{ forloop.counter }}" name="title" maxlength="64" spellcheck="true" required value="{{diary.title}}">
                    </div>
                    <div>
                        <label for="english_text{{ forloop.counter }}">english text</label>
                        <textarea rows="3" id="english_text{{ forloop.counter }}" name="english_text" required>{{diary.english_text}}</textarea>
                    </div>
                    <div>
                        <label for="japanese_translation{{ forloop.counter }}">japanese translation</label>
                        <textarea rows="3" id="japanese_translation{{ forloop.counter }}" name="japanese_translation" required>{{diary.japanese_translation}}</textarea>
                    </div>
                    <div class="select-file-box">
                        <label for="image{{ forloop.counter }}">photo</label>
                        <label class="image-btn">
                            select file
                            <input type="file" id="image{{ forloop.counter }}" name="image" accept="image/*" onchange="editPreviewImage(this, {{ forloop.counter }});">
                        </label>
                    </div>
                    <div class="preview">
                        <img id="preview{{ forloop.counter }}"></img>
                    </div>

                    <input type="hidden" name="date" value="{{diary.date}}">

                    <div class="submit-box">
                        <ul>
                            <li>
                                <a href="{% url 'diary:my_diary' %}" class="cancel-btn">cancel</a>
                            </li>
                            <li>
                                <input type="submit" class="update-btn" name="update-btn" value="update">
                            </li>
                        </ul>
                        <input type="submit" class="delete-btn" value="delete">
                    </div>
                </form>
            </div>
        </section>
    {% endfor %}
    {% else %}
    <div class="no-diary">
        <p>All journals are "completed" :)</p>
        <p>(Or there may be no diary yet. <a href="{% url 'diary:index' %}">Do you want to write a diary？</a>)</p>
    </div>
    {% endif %}
</div> {% comment %} items {% endcomment %}
{% endblock %}

{% block footer %}
	{% comment %} {% if diary_step == 5 %} {% endcomment %}
	<p class="footer-text"><small>©︎ imkaoru 2021</small></p>
	{% comment %} {% endif %} {% endcomment %}
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
{% endblock %}