<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% load sass_tags %}

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>custoMade</title>
        <meta name="description" content="(現在準備中)" />
        <link rel="icon" href="" sizes="16x16" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="" />
        <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
        <link rel="stylesheet" href="https://use.typekit.net/kqm8xlk.css">
        <link rel="stylesheet" href="https://use.typekit.net/kqm8xlk.css">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        {% comment %} <link rel="stylesheet" href="{% static 'accounts/styles.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% sass_src 'accounts/sass/styles.scss' %}">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block extraheader %}{% endblock %}
    </head>

    <body>
        <header>
            <div class="container">
                <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
                    <div class="justify-content-between"> {% comment %} containerクラス削除 {% endcomment %}
                        <a href="{% url 'accounts:login' %}" class="navbar-brand">custoMade</a>

                        <ul class="navbar-nav mr-md-2">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:login' %}">login</a>
                            </li>
                            {% comment %} <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:register' %}">sign up</a>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="container">
                <p><small>©︎ imkaoru, chiken3 2021</small></p>
            </div>
        </footer>
    </body>
</html>